html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	color: #333;
	margin: 0;
  background-color: #ececec;
  padding: 0;
  max-height: calc(100vh - 2rem);
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Open Sans, Helvetica Neue, sans-serif;
}

input {
  display: block;
  width: 100%;
  line-height: 1.5;
  color: #000;
  background-color: rgba(68,68,123,.04);
  background-clip: padding-box;
  border: 1px solid transparent;
  border-radius: 3px;
  border-top: none;
  border-bottom: 1px solid #ddd;
  box-shadow: inset 0 1px 2px rgb(0 0 0 / 39%), 0 -1px 1px #fff, 0 1px 0 #fff !important;
  transition: border-bottom-color .05s linear, border-bottom-width .05s linear;
}

label {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  padding: calc(.75rem / 3) .75rem;
  width: 100%;
  margin-bottom: 0;
  line-height: 1.5;
  text-align: left;
  font-size: .75rem;
  color: #888c9b;
  border: 1px solid transparent;
  border-radius: .25rem;
  transition: all .1s ease-in-out;
  pointer-events: none;
}


.d-item { color: #15152d; }

.d-item:hover {
  color: #fff;
  text-decoration: none;
  background-color: #105f9e;
}
