html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	color: #333;
	margin: 0;
  background-color: #ececec;
  padding: 0;
  max-height: calc(100vh - 2rem);
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Open Sans, Helvetica Neue, sans-serif;
}

input {
  display: block;
  width: 100%;
  line-height: 1.5;
  color: #000;
  background-color: rgba(68,68,123,.04);
  background-clip: padding-box;
  border: 1px solid transparent;
  border-radius: 3px;
  border-top: none;
  border-bottom: 1px solid #ddd;
  box-shadow: inset 0 1px 2px rgb(0 0 0 / 39%), 0 -1px 1px #fff, 0 1px 0 #fff !important;
  transition: border-bottom-color .05s linear, border-bottom-width .05s linear;
}

select {
  background: url("data:image/svg+xml;charset=utf-8,%3Csvg width='14' height='14' fill='%23888c9b' viewBox='0 0 1792 1792' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1408 704q0 26-19 45l-448 448q-19 19-45 19t-45-19L403 749q-19-19-19-45t19-45 45-19h896q26 0 45 19t19 45z'/%3E%3C/svg%3E") no-repeat right .75rem center,linear-gradient(180deg,#fff,#f6f7f9);
  backface-visibility: hidden;
  transition: all .2s ease-in-out;
  height: 2.75rem;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  appearance: none;
}

.select {
  padding: .375rem 1.75rem .375rem .75rem;
}

label {
  display: block;
  padding: calc(.75rem / 3) 0;
  width: 100%;
  line-height: 1.5;
  font-size: .75rem;
  color: #888c9b;
  transition: all .1s ease-in-out;
  pointer-events: none;
}

.d-item { color: #15152d; }

.d-item:hover {
  color: #fff;
  text-decoration: none;
  background-color: #105f9e;
}
